<main>
    <ul class="cart__item-list">
        {{#each products}}
            <li class="cart__item">
                <h1>{{this.productData.title}}</h1>
                <h2>Quantity: {{this.qty}}</h2>
            </li>
        {{/each}}
    </ul>
    <div class='centered'>
        <h2>Total: {{totalSum}}</h2>
    </div>
    <div class="centered">
        <button id="order-btn" class="btn" onclick="redirectToCheckout('{{sessionId}}')">ORDER</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script src='/js/stripe.js'></script>
    </div>
</main>